<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #0d7cbd;
    border-color: #0d7cbd;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card {
    padding: 24px;
    margin-bottom: 48px;
  }

  .card-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
    margin-bottom: 24px;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .card-row {
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>

{% include "translation" %}

{% capture form %}
  {% if page.donation_v2.has_amount_goal? %}
    <div class="mb-4">
      <p class="mb-3 h5 text-sans-serif font-weight-semi-bold">{{ t_donation_amount_raised_so_far | replace: "$amount", page.donations_amount_format | replace: "$goal", page.donation_v2.amount_goal_format }}</p>
      {% include "progress"
        percent: page.donation_v2.percent_of_amount_goal,
        amount: page.donations_amount_format,
        goal: page.donation_v2.amount_goal_format,
      %}
    </div>
  {% elsif page.donation_v2.has_donor_goal? %}
    <div class="mb-4">
      <p class="mb-3 h5 text-sans-serif font-weight-semi-bold">{{ t_donation_donors_so_far | replace: "$amount", page.donations_count | replace: "$goal", page.donation_v2.donor_goal }}</p>
      {% include "progress"
        percent: page.donation_v2.percent_of_donor_goal,
        count: page.donations_count,
        goal: page.donation_v2.donor_goal,
      %}
    </div>
  {% endif %}

  {% form_for donation %}
    <div class="form">
      <div class="form-errors">{% error_messages_for donation %}</div>

      {% if page.donation_v2.has_merchant_account? == false %}
        <p class="text-danger">{{ t_forms_no_payment_processor }}</p>
      {% elsif page.donation_v2.merchant_account.is_test_mode? %}
        <p class="text-danger">{{ t_forms_testing_mode }}</p>
      {% endif %}

      {% if request.current_order %}
        <h3 class="h4">{{ t_forms_your_order }}</h3>
        <div class="table-responsive">
          <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th scope="col">{{ t_invoices_quantity }}</th>
                <th scope="col">{{ t_forms_name }}</th>
                <th scope="col">{{ t_forms_amount }}</th>
              </tr>
            </thead>
            <tbody>
              {% for item in request.current_order.items %}
              <tr>
                {% if item.num_time_periods and item.time_period_type %}
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ t_donation_amount_billed_automatically_every_period | replace: '$amount', item.amount | replace: '$time', item.num_time_periods | replace: '$time_period', item.time_period_type }}</td>
                {% else %}
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.amount }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div><a class="clear-order" href="{{ page.donation_v2.clear_order_url }}">{{ t_forms_clear_order }}</a></div>
      {% else %}
        <fieldset>
          {% if page.donation_v2.donation_frequency == "any" %}
            <legend class="mb-3 h6 font-weight-semi-bold text-sans-serif">{{ t_forms_select_an_amount }}</legend>
            <div class="form-group">
              <div class="donation-v2-occurence-radio radio-inline clearfix">
                {{ page.donation_v2.monthly_recurring_radio_buttons | replace: "One-time", t_forms_one_time | replace: "Monthly", t_forms_monthly }}
              </div>
            </div>
          {% endif %}
          {% if page.donation_v2.amount_in_cents != 0 %}
            <legend class="mb-3 h6 font-weight-semi-bold text-sans-serif">{{ t_forms_amount }}</legend>
            <p class="h2 single-amount mb-0">{{ page.donation_v2.amount_formatted }}</p>
            {% if page.donation_v2.donation_frequency == "monthly" %}
              <p class="mt-2 mb-0 text-black-75">{{ t_forms_paid_monthly }}</p>
            {% elsif page.donation_v2.donation_frequency == "annual" %}
              <p class="mt-2 mb-0 text-black-75">{{ t_forms_paid_annually }}</p>
            {% endif %}
          {% else %}
            <div class="form-group">
              <div class="donation-v2-amounts">
                {{ page.donation_v2.form_amount_options }}
              </div>
            </div>
          {% endif %}
          {% if page.donation_v2.accepts_variable_amounts? or page.donation_v2.donation_frequency == "any" %}
            <div class="form-row donation-v2-options{% if page.donation_v2.accepts_variable_amounts? == false %} single-amount-any-frequency{% endif %}">
              {% if page.donation_v2.accepts_variable_amounts? %}
                <div class="form-group col">
                  {{ page.donation_v2.amount_other | replace: 'Other ' : '', | replace: '<div class="input-group donation-other-input-container">': '<div class="input-group donation-other-input-container" data-focus-target="donation_amount_other_input">' }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </fieldset>
      {% endif %}

      <fieldset class="mt-4">
        <legend class="mb-3 h6 font-weight-semi-bold text-sans-serif">{{ t_forms_pay_with }}</legend>

          {% if page.donation_v2.express_payment_activated? %}
        <div id="payment-methods" class="form-row my-2">
          <div id="donation-v2-payment-request"></div>
          <div id="cc-request-button">
            <button type="button" class="btn btn-positive"><i id="credit-card-icon"></i>{{ t_forms_credit_card }}</button>
          </div>
          <div id="apple-pay-notice">
            <p class="small">{{ t_forms_apple_pay_notice }}</p>
          </div>
        </div>
          {% endif %}
        <div id="selected-payment-method" class="form-row">
          <div class="col-sm-12">
            <i id="payment-method-icon"></i><a href="#" class="change-payment-method">{{ t_forms_change_payment_method }}</a>
          </div>
          <p>{{ t_forms_youre_almost_done }}</p>
        </div>
        <div id="submitted-payment-method" class="form-row">
          <div class="col-sm-12">
            <p>{{ t_forms_payment_method_saved }} <a href="#" class="change-submitted-payment-method">{{ t_forms_change_payment_method }}</a></p>
          </div>
        </div>
        <div id="cc-info" class="form-group">
          {% payment_field 'card' %}
          <p class="pt-1 text-center">
            <a href="#" class="change-payment-method">{{ t_forms_change_payment_method }}</a>
          </p>
        </div>
      </fieldset>

      <fieldset id="your-info" class="mt-4">
        <legend class="mb-3 h6 font-weight-semi-bold text-sans-serif">{{ t_forms_your_information }}</legend>
        <div id="demographics-read-only" class="mb-2">
          <a href="#" id="edit-demographics">{{ t_forms_edit }}</a>
          <p id="demographics-name"></p>
          <p id="demographics-email"></p>
          <p id="demographics-phone"></p>
        </div>
        <div id="demographics-info">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_first_name">{{ t_forms_first_name }}</label>
                {% text_field "first_name", class:"form-control" %}
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_last_name">{{ t_forms_last_name }}</label>
                {% text_field "last_name", class:"form-control" %}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_email">{{ t_forms_email }}</label>
                {% email_field "email", class:"form-control" %}
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_billing_address_phone_number">{{ t_forms_phone }}</label>
                {% phone_field "billing_address.phone_number", class:"form-control" %}
              </div>
            </div>
          </div>
        </div>

        <p id="address-read-only">
          <span class="address-line">
            <span id="address-line1"></span><a href="#" id="edit-address">{{ t_forms_edit }}</a>
          </span>
          <span class="address-line">
            <span id="address-line2"></span>
          </span>
          <span class="address-line">
            <span id="address-city"></span>, <span id="address-state"></span> <span id="address-zip"></span>
          </span>
          <span class="address-line">
            <span id="address-country"></span>
          </span>
        </p>
        <div id="address-info">
          {% include "donation_billing_address_inputs" %}
        </div>

        {% if page.donation_v2.merchant_account.is_employer_and_occupation_required? %}
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_employer">{{ t_forms_employer }}</label>
                {% text_field "employer", class:"form-control", required:"required" %}
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="float-label">
                <label for="donation_occupation">{{ t_forms_occupation }}</label>
                {% text_field "occupation", class:"form-control", required:"required" %}
              </div>
            </div>
          </div>

          {% if page.donation_v2.merchant_account.is_employer_address_required? or page.donation_v2.merchant_account.is_employer_city_required? %}
            {% include "donation_work_address_inputs" %}
          {% endif %}

          <div class="form-group">
            <small class="text-gray-75">{{ t_forms_law_requires_employer_occupation }}</small>
          </div>
        {% endif %}

        {% if page.donation_v2.merchant_account.is_corporate_contribution_required? %}
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              {% check_box "is_corporate_contribution", class:"custom-control-input checkbox" %}
              <label class="custom-control-label checkbox" for="donation_is_corporate_contribution">{{ t_forms_contribution_from_business }}</label>
            </div>
          </div>
        {% endif %}

        {% for cf in custom_fields.donation %}
          {% assign custom_field = cf[1] %}
          {% assign custom_field_id = 'custom_values.' | append: custom_field.slug %}

          <div class="form-group">
            {% if custom_field.is_text? %}
              <div class="float-label">
                <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                {% text_field custom_field_id, class:"form-control" %}
              </div>
            {% elsif custom_field.is_number? %}
              <div class="float-label">
                <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                {% number_field custom_field_id, class:"form-control" %}
              </div>
            {% elsif custom_field.is_boolean? %}
              <div class="custom-control custom-checkbox">
                {% check_box custom_field_id, class:"custom-control-input checkbox" %}
                <label class="custom-control-label checkbox" for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
              </div>
            {% elsif custom_field.is_multiple_choice? %}
              <div class="float-label">
                <label for="donation_custom_values_{{ custom_field.slug }}_custom">{{ custom_field.name }}</label>
                {% select_field custom_field_id, custom_fields.donation[custom_field.slug].multiple_choice_options, class:"custom-select" %}
              </div>
            {% endif %}
          </div>
        {% endfor %}

        <div class="form-group">
          <small class="text-black-75">
            {% if page.donation_v2.merchant_account.is_taxable? %}
              {{ t_forms_contributions_not_tax_deductible }}
            {% else %}
              {{ t_forms_contributions_tax_deductible }}
            {% endif %}
          </small>
        </div>

        {% unless page.show_consent_form? %}
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              {% check_box "email_opt_in", class:"custom-control-input" %}
              <label class="custom-control-label" for="donation_email_opt_in">{{ t_forms_send_email_updates }}</label>
            </div>
          </div>
        {% endunless %}

        {% if site.ask_to_publish_to_stream? %}
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              {% check_box "is_private", class:"custom-control-input checkbox" %}
              <label for="donation_is_private" class="custom-control-label checkbox">{{ t_forms_dont_publish_donation }}</label>
            </div>
          </div>
        {% endif %}

        <div class="bg-light mt-4 mx-n5 p-5">
          {% if page.donation_v2.merchant_account.has_contribution_rules? %}
            <div clas="form-group">
              <label for="is_confirmation_text">{{ t_forms_contribution_rules }}</label>
              {{ page.donation_v2.merchant_account.contribution_rules }}
              <div class="custom-control custom-checkbox">
                {% check_box "is_confirmed", class:"custom-control-input checkbox" %}
                <label for="donation_is_confirmed" class="custom-control-label checkbox">{{ t_forms_confirm_true_and_accurate }}</label>
              </div>
            </div>
          {% endif %}

          {% if page.show_consent_form? %}
            {% include "consent_form" %}
          {% endif %}
            <div class="form-group">
              <div class="submit-container">
                <div class="donation-v2-amount text-center mb-4">
                  {% if request.current_order %}
                    <p class="h3 mb-0">{{ page.donation_v2.ticket_purchase_total }}</p>
                  {% else %}
                    {% if page.donation_v2.confirmation_amount %}
                      <span class="h3">{{ page.donation_v2.currency_symbol }}</span>
                      <span class="nb_donation_v2_amount h3 mb-0">{{ page.donation_v2.confirmation_amount }}</span>
                    {% else %}
                      <span class="hidden hide h3">{{ page.donation_v2.currency_symbol }}</span>
                      <span class="nb_donation_v2_amount h3 mb-0"></span>
                    {% endif %}

                    {% if page.donation_v2.donation_frequency == "one-time" %}
                    {% elsif page.donation_v2.donation_frequency == "monthly" %}
                      <div class="text-black-75 nb_donation_v2_interval pt-1" data-placeholder="{{ t_forms_paid_monthly }}">{{ t_forms_paid_monthly }}</div>
                    {% elsif page.donation_v2.donation_frequency == "annual" %}
                      <div class="text-black-75 nb_donation_v2_interval pt-1" data-placeholder="{{ t_forms_paid_annually }}">{{ t_forms_paid_annually }}</div>
                    {% else %}
                      <div class="text-black-75 nb_donation_v2_interval pt-1" data-placeholder="{{ t_forms_paid_monthly }}">{% if page.donation_v2.interval_monthly? %}{{ t_forms_paid_monthly }}{% endif %}</div>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="mt-4">
                  {% if request.current_order %}
                    {% include "form_submit_tag", label: t_forms_process_payment, full_width: true, size: "lg" %}
                  {% else %}
                    {% include "form_submit_tag", label: t_forms_donate_now, full_width: true, size: "lg" %}
                  {% endif %}
                </div>
              </div>
          </div>
        </div>
      </fieldset>
    </div>
  {% endform_for %}
{% endcapture %}
<div class="header-img-wrap pb-4 pt-lg-4">
  <header id="header" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img
        src="https://assets.nationbuilder.com/upthevotesf/sites/1/meta_images/original/hell-yes-h.png?1660705461"
        class="navbar-brand-img mw-100"
        alt="Up the Vote"
      />
    </a>

    <!-- _nav.html -->

    <!-- _translation.html -->

    <!-- _tag_list.html -->

    <!-- /_tag_list.html -->

    <!-- _translation_en.html -->

    <!-- /_translation_en.html -->

    <!-- /_translation.html -->

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mobileNav"
      aria-controls="mobileNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- _nav_mobile.html -->

    <!-- _translation.html -->

    <!-- _tag_list.html -->

    <!-- /_tag_list.html -->

    <!-- _translation_en.html -->

    <!-- /_translation_en.html -->

    <!-- /_translation.html -->

    <div class="collapse navbar-collapse" id="mobileNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">Join</a>
        </li>

        <li class="nav-item">
          <a href="/endorsements" class="nav-link">Endorsements</a>
        </li>

        <li class="nav-item">
          <a href="/faq" class="nav-link">FAQ</a>
        </li>

        <li class="nav-item">
          <a href="/duplica" class="nav-link">Traducción</a>
        </li>

        <li class="nav-item">
          <a href="/_h" class="nav-link">支持H提案</a>
        </li>

        <li class="nav-item nav-item-bordered nav-item-padded">
          <a href="/donate" class="btn btn-primary btn-block">Donate</a>
        </li>
      </ul>
    </div>

    <!-- /_nav_mobile.html -->

    <!-- _nav_desktop.html -->

    <!-- _translation.html -->

    <!-- _tag_list.html -->

    <!-- /_tag_list.html -->

    <!-- _translation_en.html -->

    <!-- /_translation_en.html -->

    <!-- /_translation.html -->

    <div class="collapse navbar-collapse" id="primaryNav">
      <ul class="navbar-nav navbar-nav-primary">
        <li class="nav-item d-none">
          <a href="/" class="nav-link">Join</a>
        </li>

        <li class="nav-item d-none">
          <a href="/endorsements" class="nav-link">Endorsements</a>
        </li>

        <li class="nav-item d-none">
          <a href="/faq" class="nav-link">FAQ</a>
        </li>

        <li class="nav-item d-none">
          <a href="/duplica" class="nav-link">Traducción</a>
        </li>

        <li class="nav-item d-none">
          <a href="/_h" class="nav-link">支持H提案</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navbar-more">
          <a
            href="javascript:void(0);"
            class="nav-link navbar-more-toggle"
            aria-haspopup="true"
            aria-expanded="false"
          >
            More
          </a>
          <div class="navbar-more-container" aria-hidden="true" inert="">
            <div class="navbar-more-inner">
              <div class="navbar-more-roots" style="">
                <a class="navbar-more-item" href="/" tabindex="-1">Join</a>

                <a class="navbar-more-item" href="/endorsements" tabindex="-1"
                  >Endorsements</a
                >

                <a class="navbar-more-item" href="/faq" tabindex="-1">FAQ</a>

                <a class="navbar-more-item" href="/duplica" tabindex="-1"
                  >Traducción</a
                >

                <a class="navbar-more-item" href="/_h" tabindex="-1"
                  >支持H提案</a
                >
              </div>
              <div class="navbar-more-leafs"></div>
            </div>
          </div>
        </li>
      </ul>

      <a href="/donate" class="btn btn-primary navbar-btn text-nowrap"
        >Donate</a
      >
    </div>

    <!-- /_nav_desktop.html -->

    <!-- /_nav.html -->
  </header>
</div>

<!-- _features.html -->

<!-- /_features.html -->

<main id="content" class="bg-white" role="main">
  <div class="page">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div style="margin: auto; margin-bottom: 48px;">
          <a href="https://www.upthevotesf.com/">
            <img
              id="logo-image-empty-homes-tax"
              src="https://dsasf-62612.web.app/up-vote/banner-title.png"
              width="100%"
              alt="Yes on H- Move local elections to even years and double voter participation!"
            />
          </a>
        </div>
        <strong>
          <h1 class="title-yes" style="margin-left: auto; margin-right: auto; margin-bottom: 48px;">Donate</h1
        </strong>
      </div>
      <div class="col-lg-9" style="margin-left: auto; margin-right: auto;">
        {{ form }}
      </div>
    </div>
  </div>
</main>
{% include "footer" %}

<script>
  var currentLocale = "{{ current_language }}";
  NB.payments.locale = currentLocale;
  NB.payments.elementOptions = {
    style: {
      base: {
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSize: '16px'
      }
    }
  };
</script>
<script src="/assets/liquid/theme_donation_v2.js"></script>
{% if site.has_background_image? %}
<style>body { background-image: none !important; }</style>
{% endif %}
