<style>
  a {
    color: #0d7cbd;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .page-headline,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: bolder;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  }

  h4 {
    color: #0d7cbd;
  }

  .card {
    padding: 24px;
    margin: 24px 0 64px 0;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #0d7cbd;
    border-color: #0d7cbd;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .page-content {
    padding: 48px 24px;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  .graphic-vis-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    margin-bottom: 24px;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .page-content {
      padding: 48px 0;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 48px;">
        <a href="https://www.upthevotesf.com/">
          <img
            id="logo-image-empty-homes-tax"
            src="https://dsasf-62612.web.app/up-vote/banner-title.png"
            width="100%"
            alt="Yes on H- Move local elections to even years and double voter participation!"
          />
        </a>
      </div>
      <h1 style="margin-bottom: 48px;">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-9">
      <h4>
        <strong
          >San Francisco generally has high voter engagement. Will this measure
          make a significant difference here?</strong
        >
      </h4>
      <div class="card">
        <p>
          San Francisco turnout is dismal for this off-cycle, once every 4 years
          local election. 43% of voters on average are voting for the local
          Mayor, Sheriff, District Attorney, City Attorney, and Treasurer race
          versus
          <strong
            >double — 80% — voting in presidential year election cycles.</strong
          >
        </p>
        <div class="graphic-vis-row">
          <h5>
            <strong>Odd-year Mayoral Race</strong>
          </h5>
          <img
            src="https://dsasf-62612.web.app/up-vote/vis-2019-mayoral.png"
            width="50%"
            alt="People chart visual, 4 out of 10 people"
          />
        </div>
        <div class="graphic-vis-row">
          <h5>
            <strong>Even-year Presidential Race</strong>
          </h5>
          <img
            src="https://dsasf-62612.web.app/up-vote/vis-2020-presidential.png"
            width="50%"
            alt="People chart visual, 8 out of 10 people"
          />
        </div>
        <p>
          There was a citywide turnout of
          <a
            target="_blank"
            href="https://sfelections.sfgov.org/november-5-2019-election-results-summary"
            >41% of registered voters in November 2019</a
          >
          and
          <a
            href="https://sfelections.sfgov.org/november-3-2020-election-results-summary"
            target="_blank"
            >86% in November 2020</a
          >. In 2020, 79% San Francisco youth under age 24 voted versus
          <a
            href="https://sfyes-74d32.web.app/up-vote/2019-voter-turnout-by-age.pdf"
            target="_blank"
            >only 21% in 2019</a
          >.
        </p>
        <p>
          We have an opportunity to double — and in the case of the youth
          quadruple — the number of people showing up to vote for important
          officials in San Francisco by simply moving these elections to
          presidential year cycles.
        </p>
      </div>

      <h4>
        <strong
          >I heard this changes the signature threshold for ballot measures. Can
          you explain that?</strong
        >
      </h4>
      <div class="card">
        <p>
          The measure changes HOW the signature threshold is calculated, but
          leaves the number of signatures required almost exactly the same.
        </p>
        <p>
          Currently, signature thresholds to qualify a citizen initiative are 5%
          of the turnout for the last Mayoral race. Doubling turnout for the
          Mayoral race would double the signature threshold needed to qualify a
          citizen initiative.
        </p>
        <p>
          We wanted to make sure it is no easier or harder to qualify a measure
          for the ballot, so the signature threshold was
          <a
            href="https://sfelections.sfgov.org/sites/default/files/CityElectionsinEven-NumberedYears_Legal%20Text.pdf"
            target="_blank"
            >adjusted to be 2% of the number of total registered voters</a
          >, rather than counting on the low turnout for the mayor’s race.
          <strong
            >This results in about the same number of signatures to qualify a
            ballot measure.</strong
          >
        </p>
      </div>

      <h4>
        <strong
          >Won’t this make an already long presidential ballot even
          longer?</strong
        >
      </h4>
      <div class="card">
        <p>
          This will make the presidential ballot longer, but the tradeoff is
          that it would
          <strong
            >ensure the most powerful people in the City are being elected
            <a
              href="https://www.commoncause.org/california/resource/getting-to-100/"
              target="_blank"
              >when voters actually show up to vote</a
            ></strong
          >.
        </p>
        <p>
          Most people in SF know how they are voting for president, VP, etc— but
          we are currently
          <a
            target="_blank"
            href="https://sfelections.sfgov.org/november-5-2019-election-results-summary"
            >missing their voices for the local offices of Mayor, Sheriff,
            District Attorney, City Attorney, and Treasurer</a
          >.
        </p>
        <p>
          In 2020 local propositions at the end of the presidential year ballot
          saw
          <a
            href="https://sfelections.sfgov.org/november-3-2020-election-results-summary"
            target="_blank"
            >6-7% loss in voter participation due to undervoting</a
          >— so it would take at least 8-10 times as many undervotes as
          end-of-ballot local props to even compare to the lack of participation
          we are seeing in odd-year elections.
        </p>
        <p>
          We want inspiring and exciting candidates for these local races that
          voters will not skip on after they are able to make it to the ballot.
        </p>
      </div>

      <h4>
        <strong
          >Won’t we lose the opportunity to pass important bonds/ballot
          measures?</strong
        >
      </h4>
      <div class="card">
        <p>
          <a
            href="https://www.commoncause.org/california/resource/getting-to-100/"
            target="_blank"
            >We should be maximizing the number of people voting</a
          >
          for these bonds and measures for them to be truly democratic.
        </p>
        <p>
          Popular measures will pass more easily with a broad voter base
          participating in the election. Off-cycle elections can favor big-money
          interests since funding simply goes to a get-out-the-vote effort for
          specific groups to show up for the vote.
        </p>
      </div>

      <h4>
        <strong>Will this give another year to the Mayor?</strong>
      </h4>
      <div class="card">
        <p>
          Next year, 2023,
          <a
            href="https://sfelections.sfgov.org/future-elections"
            target="_blank"
            >the election for Mayor, Sheriff, District Attorney, City Attorney,
            and Treasurer</a
          >
          will be rescheduled to 2024, giving these offices another year before
          the 2024 election.
        </p>
        <p>
          By not having these elections in 2023 the City Controller estimated
          about
          <a
            target="_blank"
            href="https://sfelections.sfgov.org/sites/default/files/Prop%20H%20-%20City%20Elections%20in%20Even%20Numbered%20Years%20-%20VIP.pdf"
            >$7 million in savings for next year</a
          >
          and we don’t have to add another election to our schedule for 2023.
        </p>
      </div>

      <h4>
        <strong>Who has endorsed this?</strong>
      </h4>
      <div class="card">
        <p>
          <a
            href="https://sfist.com/2022/07/19/supervisors-approve-ballot-measure-to-move-the-year-we-elect-the-mayor/"
            target="_blank"
            >Supervisor Dean Preston put the SF Voter Participation Act on the
            ballot</a
          >
          with the support of Supervisors Ronen, Stefani, Peskin, Chan, Safai,
          and Melgar— so it's broadly supported by progressive and moderate SF
          supervisors.
        </p>
        <p>
          <a
            href="https://twitter.com/DeanPreston/status/1549211374512775168"
            target="_blank"
            >Endorsements were led by good government, non-partisan voting
            rights organizations</a
          >
          like California Common Cause, the League of Women Voters of San
          Francisco, RepresentUs, and Advancing Justice- Asian Law Caucus.
        </p>
        <p>
          Prop H is endorsed by everyone from the
          <a
            href="https://www.sfdemocrats.org/voting/endorsements/2022/8/13/general2022"
            target="_blank"
            >San Francisco Democratic Party</a
          >
          to the
          <a
            href="https://sflaborcouncil.org/politics/endorsements/"
            target="_blank"
            >San Francisco Labor Council</a
          >
          and the Public Health Justice Collective. See
          <a href="https://www.upthevotesf.com/endorsements"
            >the endorsements page</a
          >
          for the full list of endorsements.
        </p>
      </div>

      <h4>
        <strong
          >I would like to better understand how this will impact recall
          elections.</strong
        >
      </h4>
      <div class="card">
        <p>
          This measure impacts the
          <a
            href="https://sfelections.sfgov.org/future-elections"
            target="_blank"
            >scheduling of the off-cycle, once-every-four-years Municipal
            Election</a
          >
          for the offices of the Mayor, Sheriff, District Attorney, City
          Attorney, and Treasurer.
        </p>
        <p>
          It does NOT impact special elections like recalls.
        </p>
      </div>

      <br />
      <!--Frequently Asked Questions-->
      <h2>常見問題</h2>
      <br />
      <!--I heard this changes the signature threshold for ballot measures. Can you explain that?-->
      <h4>
        <strong>我聽說這改變了投票措施的簽名門檻。你能解釋一下嗎？</strong>
      </h4>
      <div class="card">
        <!--The measure changes HOW the signature threshold is calculated, but leaves the number of signatures required almost exactly the same.-->
        <p>該度量值更改了簽名閾值的計算方式，但所需的簽名數幾乎完全相同。</p>
        <!--Currently, signature thresholds to qualify a citizen initiative are 5% of the turnout for the last Mayoral race. Doubling turnout for the Mayoral race would double the signature threshold needed to qualify a citizen initiative.-->
        <p>
          目前，公民倡議的簽名門檻是上一屆市長競選投票率的5%。市長競選的投票率增加一倍將使公民倡議獲得資格所需的簽名門檻增加一倍。
        </p>
        <!--We wanted to make sure it is no easier or harder to qualify a measure for the ballot, so the signature threshold was adjusted to be 2% of the number of total registered voters, rather than counting on the low turnout for the mayor’s race. This results in about the same number of signatures to qualify a ballot measure.-->
        <a
          href="https://sfelections.sfgov.org/sites/default/files/CityElectionsinEven-NumberedYears_Legal%20Text.pdf"
          target="_blank"
        >
          <p>
            我們希望確保使一項措施有資格參加投票並不容易或更難，因此簽名門檻被調整為登記選民總數的2%，而不是指望市長競選的低投票率。這導致大約相同數量的簽名來限定投票措施。
          </p>
        </a>
      </div>
      <!--San Francisco generally has high voter engagement. Will this measure make a significant difference here?-->
      <h4>
        <strong
          >三藩市的選民參與度通常很高。這項措施會在這裡產生重大影響嗎？</strong
        >
      </h4>
      <div class="card">
        <!--San Francisco turnout is dismal for this off-cycle, once every 4 years local election. 43% of voters on average are voting for the local Mayor, Sheriff, District Attorney, City Attorney, and Treasurer race versus double — 80% — voting in presidential year election cycles.-->
        <p>
          三藩市的投票率令人沮喪，因為這個非週期，每四年一次的本地選舉。平均而言，43%的選民投票支援當地市長，治安官，地檢官，市府律師和財政部長競選，而在總統年度選舉週期中，投票率為雙倍（
          80%）。
        </p>
        <!--There was a citywide turnout of 41% of registered voters in November 2019 and 86% in November 2020. In 2020, 79% San Francisco youth under age 24 voted versus only 21% in 2019.-->
        <p>
          2019年11月，全市登記選民的投票率為<a
            target="_blank"
            href="https://sfelections.sfgov.org/november-5-2019-election-results-summary"
            >41%</a
          >，2020年11月為<a
            href="https://sfelections.sfgov.org/november-3-2020-election-results-summary"
            target="_blank"
            >86%</a
          >。2020年，79%的24歲以下三藩市年輕人投票，而2019年只有<a
            href="https://sfyes-74d32.web.app/up-vote/2019-voter-turnout-by-age.pdf"
            target="_blank"
            >21%</a
          >。
        </p>
        <!--We have an opportunity to double — and in the case of the youth quadruple — the number of people showing up to vote for important officials in San Francisco by simply moving these elections to presidential year cycles.-->
        <p>
          我們有機會把參加三藩市重要官員投票的人數增加一倍：在青年人數方面是翻了兩番；只需把這些選舉推遲到總統年週期。
        </p>
      </div>
      <!--Won’t this make an already long presidential ballot even longer?-->
      <h4>
        <strong>這不會使已經很長的總統投票更加漫長的嗎？</strong>
      </h4>
      <div class="card">
        <!--This will make the presidential ballot longer, but the tradeoff is that it would ensure the most powerful people in the City are being elected when voters actually show up to vote.-->
        <a
          href="https://www.commoncause.org/california/resource/getting-to-100/"
          target="_blank"
        >
          <p>
            這將使總統選票更長，但權衡是，當選民實際出現投票時，它將確保紐約市最有權勢的人當選。
          </p>
        </a>
        <!--Most people in SF know how they are voting for president, VP, etc— but we are currently missing their voices for the local offices of Mayor, Sheriff, District Attorney, City Attorney, and Treasurer.-->
        <p>
          三藩市的大多數人都知道他們如何投票選舉總統，副總裁等，但我們目前錯過了他們對市長，治安官，地檢官，市府律師和財政部長等的聲音。
        </p>
        <!--In 2020 local propositions at the end of the presidential year ballot saw 6-7% loss in voter participation due to undervoting— so it would take at least 8-10 times as many undervotes as end-of-ballot local props to even compare to the lack of participation we are seeing in odd-year elections.-->
        <p>
          在2020年總統年投票結束時，由於投票不足，本地提案的選民參與度下降了
          <a
            href="https://sfelections.sfgov.org/november-3-2020-election-results-summary"
            target="_blank"
            >6-7%</a
          >:因此，投票不足至少需要8-10倍於投票結束的本地道具，才能與我們在奇數年選舉中看到的缺乏參與進行比較。
        </p>
        <!--We want inspiring and exciting candidates for these local races that voters will not skip on after they are able to make it to the ballot.-->
        <p>
          我們希望這些本地比賽的候選人鼓舞人心和令人興奮，選民在能夠參加投票後不會跳過。
        </p>
      </div>
      <!--Won’t we lose the opportunity to pass important bonds/ballot measures?-->
      <h4>
        <strong>我們難道不會失去通過重要債券投票提案的機會嗎？</strong>
      </h4>
      <div class="card">
        <!--We should be maximizing the number of people voting for these bonds and measures for them to be truly democratic.-->
        <p>
          我們應該最大限度地增加投票支持這些債券的人數，並採取措施使它們成為真正民主的方式。
        </p>
        <!--Popular measures will pass more easily with a broad voter base participating in the election. Off-cycle elections can favor big-money interests since funding simply goes to a get-out-the-vote effort for specific groups to show up for the vote.-->
        <p>
          民眾措施將更容易通過，因為有廣泛的選民基礎參與選舉。非週期選舉可能有利於大筆利益，因為資金只是用於特定群體的投票努力。
        </p>
      </div>
      <!--Will this give another year to the Mayor?-->
      <h4>
        <strong>這會給市長再過一年嗎？</strong>
      </h4>
      <div class="card">
        <!--Next year, 2023, the election for Mayor, Sheriff, District Attorney, City Attorney, and Treasurer will be rescheduled to 2024, giving these offices another year before the 2024 election.-->
        <p>
          明年2023年，市長，治安官，地檢官，市府律師和財政部長的選舉將重新安排到2024年，使這些辦公室在2024年大選前再過一年。
        </p>
        <!--By not having these elections in 2023 the City Controller estimated about $7 million in savings for next year and we don’t have to add another election to our schedule for 2023.-->
        <p>
          由於2023年沒有舉行這些選舉，市主計長估計明年將節省約700萬美元，我們不必在2023年的時程表上增加另一次選舉。
        </p>
      </div>
      <!--Who has endorsed this?-->
      <h4>
        <strong>誰支持這個提案？</strong>
      </h4>
      <div class="card">
        <!--Supervisor Dean Preston put the SF Voter Participation Act on the ballot with the support of Supervisors Ronen, Stefani, Peskin, Chan, Safai, and Melgar— so it's broadly supported by progressive and moderate SF supervisors.-->
        <p>
          市參事潘正義(Dean Preston)將SF選民參與法案放在選票上，還有市參事盧凱利
          (Hillary Ronen)，司嘉怡 (Catherine Stefani)，佩斯金 (Aaron
          Peskin)，陳詩敏 (Connie Chan)，安世輝 (Ahsha Safai)， 和梅義加 (Myrna
          Melgar) 們致詞
        </p>
        <!--Endorsements were led by good government, non-partisan voting rights organizations like California Common Cause, the League of Women Voters of San Francisco, RepresentUs, and Advancing Justice- Asian Law Caucus.-->
        <p>
          背書包括有好政府，無黨派投票權組織領導，如加州共同事業，三藩市婦女選民聯盟，代表美國和推進正義
          - 亞洲法律核心小組。
        </p>
        <!--Prop H is endorsed by everyone from the San Francisco Democratic Party to the San Francisco Labor Council and the Public Health Justice Collective. See the endorsements page for the full list of endorsements.-->
        <p>
          H提案有三藩市民主黨到三藩市勞工委員會和公共衛生正義集體的支持。請在背書網頁以查看全部的背書。
        </p>
      </div>
      <!--I would like to better understand how this will impact recall elections.-->
      <h4>
        <strong>我想更好地瞭解這將如何影響罷免選舉。</strong>
      </h4>
      <div class="card">
        <!--This measure impacts the scheduling of the off-cycle, once-every-four-years Municipal Election for the offices of the Mayor, Sheriff, District Attorney, City Attorney, and Treasurer.-->
        <p>
          這項措施影響了市長，治安官，地檢官，市府律師和財政部長的非週期、每四年一次市政選舉的日程安排。
        </p>
        <!--It does NOT impact special elections like recalls.-->
        <p>
          提案不會影響像召回這樣的特別選舉。
        </p>
      </div>

      {% include "page_tags" with page %}
    </div>
  </div>
</div>
