<style>
  a {
    color: #0d7cbd;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .page-headline,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: bolder;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
  }

  h4 {
    color: #0d7cbd;
  }

  .card {
    padding: 24px;
    margin: 24px 0 64px 0;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #000000;
    background-color: #0d7cbd;
    border-color: #0d7cbd;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .page-content {
    padding: 48px 24px;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .page-content {
      padding: 48px 0;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 48px;">
        <a href="https://www.upthevotesf.com/">
          <img
            id="logo-image-empty-homes-tax"
            src="https://dsasf-62612.web.app/up-vote/banner-title.png"
            width="100%"
            alt="Yes on H- Move local elections to even years and double voter participation!"
          />
        </a>
      </div>
      <h1 style="margin-bottom: 48px;">Frequently Asked Questions</h1>
    </div>
    <div class="col-lg-9">
      <h4>
        <strong
          >I heard this changes the signature threshold for ballot measures. Can
          you explain that?</strong
        >
      </h4>
      <div class="card">
        <p>
          The measure changes HOW the signature threshold is calculated, but
          leaves the number of signatures required almost exactly the same.
        </p>
        <p>
          Currently, signature thresholds to qualify a citizen initiative are 5%
          of the turnout for the last Mayoral race. Doubling turnout for the
          Mayoral race would double the signature threshold needed to qualify a
          citizen initiative.
        </p>
        <p>
          We wanted to make sure it is no easier or harder to qualify a measure
          for the ballot, so the signature threshold was adjusted to be 2% of
          the number of total registered voters, rather than counting on the low
          turnout for the mayor’s race. This results in about the same number of
          signatures to qualify a ballot measure.
        </p>
      </div>

      <h4>
        <strong
          >Won’t we lose the opportunity to pass important bonds/ballot
          measures?</strong
        >
      </h4>
      <div class="card">
        <p>
          We should be maximizing the number of people voting for these bonds
          and measures for them to be truly democratic.
        </p>
        <p>
          Popular measures will pass more easily with a broad voter base
          participating in the election. Off-cycle elections can favor big-money
          interests since funding simply goes to a get-out-the-vote effort for
          specific groups to show up for the vote.
        </p>
      </div>

      <h4>
        <strong>Will this give another year to the Mayor?</strong>
      </h4>
      <div class="card">
        <p>
          Next year, 2023, the election for Mayor, Sheriff, District Attorney,
          City Attorney, and Treasurer will be rescheduled to 2024, giving these
          offices another year before the 2024 election.
        </p>
        <p>
          By not having these elections in 2023 the City Controller estimated
          about $7 million in savings for next year and we don’t have to add
          another election to our schedule for 2023.
        </p>
      </div>

      <h4>
        <strong
          >San Francisco generally has high voter engagement. Will this measure
          make a significant difference here?</strong
        >
      </h4>
      <div class="card">
        <p>
          San Francisco turnout is dismal on odd-year elections. 43% of voters
          on average in odd-years for the local Mayor, Sheriff, District
          Attorney, City Attorney, and Treasurer race versus double — 80% in
          presidential year election cycles.
        </p>
        <p>
          There was a citywide turnout of 41% of registered voters in November
          2019 and 86% in November 2020. In 2020, 79% San Francisco youth under
          age 24 voted versus only 21% in 2019.
        </p>
        <p>
          We have an opportunity to double — and in the case of the youth
          quadruple — the number of people showing up to vote for important
          officials in San Francisco by simply moving these elections to
          presidential year cycles.
        </p>
      </div>

      <h4>
        <strong
          >Won’t this make an already long presidential ballot even
          longer?</strong
        >
      </h4>
      <div class="card">
        <p>
          This will make the presidential ballot longer, but the tradeoff is
          that it would ensure the most powerful people in the City are being
          elected when voters actually show up to vote.
        </p>
        <p>
          Most people in SF know how they are voting for president, VP, etc— but
          we are currently missing their voices for the local offices of Mayor,
          Sheriff, District Attorney, City Attorney, and Treasurer.
        </p>
        <p>
          In 2020 local propositions at the end of the presidential year ballot
          saw 6-7% loss in voter participation due to undervoting— so it would
          take at least 8-10 times as many undervotes as end-of-ballot local
          props to even compare to the lack of participation we are seeing in
          odd-year elections.
        </p>
        <p>
          We want inspiring and exciting candidates for these local races that
          voters will not skip on after they are able to make it to the ballot.
        </p>
      </div>

      <h4>
        <strong>Who has endorsed this?</strong>
      </h4>
      <div class="card">
        <p>
          Supervisor Dean Preston put the SF Voter Participation Act on the
          ballot with the support of Supervisors Ronen, Stefani, Peskin, Chan,
          Safai, and Melgar— so it's broadly supported by progressive and
          moderate SF supervisors.
        </p>
        <p>
          Endorsements were led by good government, non-partisan voting rights
          organizations like California Common Cause, the League of Women Voters
          of San Francisco, RepresentUs, and Advancing Justice- Asian Law
          Caucus.
        </p>
        <p>
          Prop H is endorsed by everyone from the San Francisco Democratic Party
          to the San Francisco Labor Council and the Public Health Justice
          Collective. See
          <a href="https://www.upthevotesf.com/endorsements"
            >the endorsements page</a
          >
          for the full list of endorsements.
        </p>
      </div>

      <h4>
        <strong
          >I would like to better understand how this will impact recall
          elections.</strong
        >
      </h4>
      <div class="card">
        <p>
          This measure impacts the scheduling of odd-year elections for the
          offices of the Mayor, Sheriff, District Attorney, City Attorney, and
          Treasurer.
        </p>
        <p>
          It does NOT impact special elections like recalls.
        </p>
      </div>

      {% include "page_tags" with page %}
    </div>
  </div>
</div>
