<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #ffffff !important;
    background-color: #0d7cbd;
    border-color: #0d7cbd;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  #signup-dropdown {
    display: none !important;
  }

  .title-text {
    font-weight: 900;
    margin-bottom: 6px;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card {
    display: block;
    padding: 24px;
    margin-bottom: 48px;
  }

  .card-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .btn-loader {
    width: 100% !important;
  }

  .btn-submit {
    width: 100% !important;
  }

  .graphic-vis-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 64px;
    margin-bottom: 24px;
  }

  .graphic-vis-row > img {
    width: 50%;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .card-row {
      flex-direction: column;
    }
    .graphic-vis-row > img {
      width: 80%;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>
{% include "translation" %} {% include "social_share_widget" %}

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 24px;">
        <a href="https://www.upthevotesf.com/">
          <img
            id="logo-image-empty-homes-tax"
            src="https://dsasf-62612.web.app/up-vote/banner-title.png"
            width="100%"
            alt="Yes on H- Move local elections to even years and double voter participation!"
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <strong
        ><h1 class="title-text">
          Yes on H — Double the Vote in Local San Francisco Elections!
        </h1></strong
      >
      <p>
        Prop H moves San Francisco’s odd-year municipal election with an average
        43% turnout rate onto the presidential election cycle— when turnout is
        double.
      </p>
      <p>
        This election determines the most important positions in our city:
        Mayor, District Attorney, City Attorney, Sheriff, and Treasurer.
      </p>
      <h4 class="title-cons">
        <strong
          >Moving city elections to even years is proudly endorsed by:</strong
        >
      </h4>
      <div class="card">
        <div class="card-row">
          <a href="https://www.commoncause.org/california/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-cc-ca.svg"
              alt="California Common Cause"
              width="224px"
              height="auto"
            />
          </a>
          <a href="https://lwvsf.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-lwvsf.png"
              alt="League of Women Voters of San Francisco"
              width="224px"
              height="auto"
            />
          </a>
          <a href="https://represent.us/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-rep-us.png"
              alt="RepresentUs"
              width="224px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a
            href="https://www.sfdemocrats.org/our-party/the-dccc"
            target="_blank"
          >
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sf-dem-party.png"
              alt="San Francisco Democratic Party"
              width="200px"
              height="auto"
            />
          </a>
          <a href="https://www.advancingjustice-alc.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-adv-just.png"
              alt="Asian Americans Advancing Justice- Asian Law Caucus"
              width="224px"
              height="auto"
            />
          </a>
          <a href="https://ifpte21.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/logo-ifpte-21.jpg"
              alt="IFPTE Local 21"
              width="250px"
              height="auto"
            />
          </a>
        </div>
        <div class="card-row">
          <a href="https://www.milkclub.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-milk.png"
              alt="Harvey Milk LGBTQ Democratic Club"
              width="224px"
              height="auto"
            />
          </a>
          <a href="https://www.sfchronicle.com/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/endorsers/logo-sf-chron.png"
              alt="San Francisco Chronicle"
              width="224px"
              height="auto"
            />
          </a>
          <a href="https://sflaborcouncil.org/" target="_blank">
            <img
              class="graphic-content"
              src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sflc.png"
              alt="San Francisco Labor Council"
              width="224px"
              height="auto"
            />
          </a>
        </div>
      </div>
      <p>
        San Francisco voter turnout is dismal for our off-cycle,
        once-every-4-years local election. Only 43% of voters on average are
        voting for the San Francisco Mayor, Sheriff, District Attorney, City
        Attorney, and Treasurer race versus
        <strong
          >double — 80% — voting in presidential year election cycles.</strong
        >
      </p>
      <div class="graphic-vis-row">
        <h5>
          <strong>Odd-year Mayoral Race</strong>
        </h5>
        <img
          src="https://dsasf-62612.web.app/up-vote/vis-2019-mayoral.png"
          width="50%"
          alt="People chart visual, 4 out of 10 people"
        />
      </div>
      <div class="graphic-vis-row">
        <h5>
          <strong>Even-year Presidential Race</strong>
        </h5>
        <img
          src="https://dsasf-62612.web.app/up-vote/vis-2020-presidential.png"
          width="50%"
          alt="People chart visual, 8 out of 10 people"
        />
      </div>
      <p>
        There was a citywide turnout of
        <a
          target="_blank"
          href="https://sfelections.sfgov.org/november-5-2019-election-results-summary"
          >41% of registered voters in November 2019</a
        >
        and
        <a
          href="https://sfelections.sfgov.org/november-3-2020-election-results-summary"
          target="_blank"
          >86% in November 2020</a
        >. In 2020, 79% San Francisco youth under age 24 voted versus
        <a
          href="https://sfyes-74d32.web.app/up-vote/2019-voter-turnout-by-age.pdf"
          target="_blank"
          >only 21% in 2019</a
        >.
      </p>
      <p>
        We have an opportunity to double — and in the case of the youth
        quadruple — the number of people showing up to vote for important
        officials in San Francisco by simply moving these elections to
        presidential year cycles.
      </p>
      <br />
      <p>
        Plus:
      </p>
      <p>
        ● We’ll save about
        <a
          target="_blank"
          href="https://sfelections.sfgov.org/sites/default/files/Prop%20H%20-%20City%20Elections%20in%20Even%20Numbered%20Years%20-%20VIP.pdf"
          >$7M next year in election costs</a
        >
      </p>
      <p>
        ● Over 50 California cities, including Los Angeles, have
        <a
          target="_blank"
          href="https://www.commoncause.org/california/wp-content/uploads/sites/29/2021/02/Consolidation-of-Elections-Creates-Massive-Gains-in-Local-Voter-Turnout.pdf"
          >moved their local elections for Mayor and other offices to even
          years</a
        >
        and doubled voter turnout
      </p>
      <p>
        Voter participation is a cornerstone civil rights issue and it is on us
        to make sure everyone's voice is heard!
      </p>
      <br />
      <img
        class="header-image"
        src="https://dsasf-62612.web.app/up-vote/SF-Election-Participation-2011-2020.png"
        alt="SF Election Participation: 2011-2020 Odd-year vs even-year voter turnout in San Francisco. Bar chart showing half voter participation every other year, 80% average even-year turnout and 43% average odd-year turnout"
      />
      <br />
      <p>
        <a
          target="_blank"
          href="https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=201520160SB415"
          ><strong
            >The California Voter Participation Rights Act (SB 415)</strong
          ></a
        >
        was signed into law in 2015 — prohibiting cities in California from
        holding off-cycle elections if doing so results in a significant decline
        in voter turnout— exactly what is happening today in San Francisco.
      </p>
      <p>
        Consistent with the state law, over 50 cities across California have
        already taken the step to consolidate their elections— including
        <a
          href="https://www.commoncause.org/california/wp-content/uploads/sites/29/2020/10/LA-City-Voter-Turnout-Analysis-1.pdf"
          target="_blank"
          >Los Angeles, San Bruno, Modesto, and San Mateo</a
        >.
      </p>
      <p>
        However, a Court ruled the state Voter Participation Act doesn’t apply
        to Charter cities, which is why we need to do this by
        <a
          href="https://sfelections.sfgov.org/sites/default/files/CityElectionsinEven-NumberedYears_Legal%20Text.pdf"
          target="_blank"
          >a Charter Amendment</a
        >
        if we want to make this change.
      </p>
      <p>
        It’s time to align with the democratic ideals of our state and city!
      </p>
      <br />
      <a href="https://www.upthevotesf.com/donate">
        <img
          id="logo-image-empty-homes-tax"
          src="https://dsasf-62612.web.app/up-vote/banner-donate.png"
          width="100%"
          alt="Donate to help us hit our goal!"
        />
      </a>
      <br />
      <br />
      <p>
        Over the last decade, voter turnout in San Francisco has averaged 43%
        for this odd year election— and 80% in presidential cycles; with the
        lowest odd-year voter participation amongst communities of color, the
        working class, and young voters. Prop H isn’t just about increasing
        voter turnout but also ensuring that more voters will have a say in city
        elections.
      </p>
      <p>
        We should be electing our important city officials
        <a
          href="https://www.commoncause.org/california/resource/getting-to-100/"
          target="_blank"
          >when most people vote</a
        >
        — during presidential election years — not in odd years when voter
        turnout is 40% or less.
      </p>
      <div class="card card-lg mt-5">
        <div class="card-body">
          <div class="form">
            <h3 class="h4 title-text" style="color: #0d7cbd;">
              Sign up to receive news and updates
            </h3>
            <br />
            {% form_for signup %}

            <div class="form-errors">{% error_messages_for signup %}</div>

            <div class="form-group">
              <div class="float-label">
                <label for="signup_email">{{ t_forms_email }}</label>
                {% email_field "email", class:"form-control text" %}
              </div>
            </div>

            {% if page.signup.is_address? %} {% if request.sorta_logged_in? ==
            false or request.current_signup.has_full_address? == false %} {%
            include "page_address_inputs" wide: true %} {% endif %} {% endif %}
            {% if page.signup.has_labeled_tags? %} {% include "labeled_tags" %}
            {% endif %} {% if page.signup.is_volunteers? and
            site.ask_for_volunteers? %}
            <div class="form-group custom-control custom-checkbox">
              {% check_box "is_volunteer", class:"custom-control-input" %}
              <label
                class="custom-control-label title-text"
                margin="12px"
                for="signup_is_volunteer"
                >{{ t_forms_want_to_volunteer }}</label
              >
            </div>
            {% endif %} {% include "form_submit_tag", label: "Join mailing list"
            %} {% endform_for %}
          </div>
        </div>
      </div>
      {% if page.tags_count > 0 %} {% include "page_tags" with page %} {% endif
      %} {% if page.show_stream? %} {% include "page_stream" %} {% endif %}
    </div>
  </div>
</div>
