<style>
  a {
    color: #2b3990;
  }

  a:hover {
    color: #9a8abb !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-errors .errorExplanation h2,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }

  button.btn-primary,
  input.btn-primary,
  a.btn-primary {
    color: #ffffff !important;
    background-color: #0d7cbd;
    border-color: #0d7cbd;
  }
  button.btn-primary:hover,
  input.btn-primary:hover,
  a.btn-primary:hover {
    color: #ffffff !important;
    background-color: #9a8abb;
    border-color: #9a8abb;
  }

  .title-text {
    font-weight: 900;
    margin-bottom: 6px;
  }

  .header-image {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .nav-item-login {
    display: none;
  }

  .navbar-nav-primary {
    margin-right: 12px;
  }

  .nav-link {
    margin-right: 36px;
  }

  .secondary-content {
    margin-top: 64px;
  }

  .graphic-content {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card {
    padding: 24px;
    margin-bottom: 48px;
  }

  .card-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  #custom-checkbox {
    display: none;
  }

  .title-block {
    text-align: center;
    margin-bottom: 24px;
  }

  .title-yes {
    font-weight: 900;
  }

  .title-for {
    margin-top: -16px;
    font-weight: 900;
  }

  .title-nov {
    margin-top: 12px;
    color: #666;
  }

  .title-cons {
    margin-top: 6px;
    color: #666;
  }

  .custom-control {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
    .header-image {
      margin-top: 0;
      margin-bottom: 6px;
      margin-right: auto;
      margin-left: auto;
    }
    .title-for {
      margin-top: -8px;
      line-height: 1;
    }
    .card-row {
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }
</style>
{% include "translation" %} {% include "social_share_widget" %}

<div class="page">
  {% include "breadcrumbs" %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div style="margin: auto; margin-bottom: 24px;">
        <a href="https://www.upthevotesf.com/">
          <img
            id="logo-image-empty-homes-tax"
            src="https://dsasf-62612.web.app/up-vote/banner-title.png"
            width="100%"
            alt="Yes on H- Move local elections to even years and double voter participation!"
          />
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <strong
        ><h1 class="title-text">
          Yes on H — Double the Vote in Local San Francisco Elections!
        </h1></strong
      >
      <p>
        Prop H moves San Francisco’s odd-year municipal election with an average
        43% turnout rate onto the presidential election cycle— when turnout is
        double.
      </p>
      <p>
        This election determines the most important positions in our city:
        Mayor, District Attorney, City Attorney, Sheriff, and Treasurer.
      </p>
      <h4 class="title-cons">
        <strong
          >Moving city elections to even years is proudly endorsed by:</strong
        >
      </h4>
      <div class="card">
        <div class="card-row">
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-cc-ca.svg"
            alt="California Common Cause"
            width="224px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-lwvsf.png"
            alt="League of Women Voters of San Francisco"
            width="224px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-rep-us.png"
            alt="RepresentUs"
            width="224px"
            height="auto"
          />
        </div>
        <div class="card-row">
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sf-dem-party.png"
            alt="San Francisco Democratic Party"
            width="200px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-adv-just.png"
            alt="Asian Americans Advancing Justice- Asian Law Caucus"
            width="224px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sierra-club.png"
            alt="Sierra Club"
            width="200px"
            height="auto"
          />
        </div>
        <div class="card-row">
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-milk.png"
            alt="Harvey Milk LGBTQ Democratic Club"
            width="224px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sfwpc.png"
            alt="San Francisco Women’s Political Committee"
            width="224px"
            height="auto"
          />
          <img
            class="graphic-content"
            src="https://dsasf-62612.web.app/up-vote/endorsements/logo-sflc.png"
            alt="San Francisco Labor Council"
            width="224px"
            height="auto"
          />
        </div>
      </div>
      <p>
        Over the last decade, voter turnout in San Francisco has averaged 43%
        for this odd year election— and 80% in presidential cycles; with the
        lowest odd-year voter participation amongst communities of color, the
        working class, and young voters. Prop H isn’t just about increasing
        voter turnout but also ensuring that more voters will have a say in city
        elections.
      </p>
      <p>
        Plus:
      </p>
      <p>● We’ll save about $7M next year in election costs</p>
      <p>
        ● Many cities in CA have already switched to even-years, like Los
        Angeles, and have seen higher turnout across the board.
      </p>
      <p>
        Voter participation is a cornerstone civil rights issue and it is on us
        to make sure everyone's voice is heard!
      </p>
      <br />
      <img
        class="header-image"
        src="https://dsasf-62612.web.app/up-vote/SF-Election-Participation-2011-2020.png"
        alt="SF Election Participation: 2011-2020 Odd-year vs even-year voter turnout in San Francisco. Bar chart showing half voter participation every other year, 80% average even-year turnout and 43% average odd-year turnout"
      />
      <br />
      <p>
        <strong>The California Voter Participation Rights Act (SB 415)</strong>
        was signed into law in 2015 — prohibiting cities in California from
        holding off-cycle elections if doing so results in a significant decline
        in voter turnout— exactly what is happening today in San Francisco.
      </p>
      <p>
        Consistent with the state law, over 50 cities across California have
        already taken the step to consolidate their elections— including Los
        Angeles, San Bruno, Modesto, and San Mateo.
      </p>
      <p>
        However, a Court ruled the state Voter Participation Act doesn’t apply
        to Charter cities, which is why we need to do this by a Charter
        Amendment if we want to make this change.
      </p>
      <p>
        It’s time to update the city Charter to align with the democratic ideals
        of our state and city!
      </p>
      <br />
      <a href="https://www.upthevotesf.com/donate">
        <img
          id="logo-image-empty-homes-tax"
          src="https://dsasf-62612.web.app/up-vote/banner-donate.png"
          width="100%"
          alt="Donate to help us hit our goal!"
        />
      </a>
      <br />
      <br />
      <p>
        We should be electing our important city officials when most people vote
        — during presidential election years — not in odd years when voter
        turnout is 40% or less.
      </p>
      <p>
        Sign up to be part of our movement so we can double the number of voters
        electing important officials in San Francisco!
      </p>
      <div class="card card-lg mt-5">
        <div class="card-body">
          <div class="form">
            {% form_for signup %} {% if request.sorta_logged_in? %}
            <div class="mb-4">
              <h3 class="mb-4 h4">{{ t_signup_will_you_join }}</h3>
              {% if request.logged_in? == false %}
              <p>{{ t_account_not_you_sign_out }}</p>
              {% endif %}
            </div>
            {% endif %}

            <div class="form-errors">{% error_messages_for signup %}</div>

            {% if request.sorta_logged_in? == false or
            request.current_signup.has_name? == false %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="float-label">
                  <label for="signup_first_name"
                    >{{ t_forms_first_name }}</label
                  >
                  {% text_field "first_name", class:"form-control text" %}
                </div>
              </div>

              <div class="form-group col-md-6">
                <div class="float-label">
                  <label for="signup_last_name">{{ t_forms_last_name }}</label>
                  {% text_field "last_name", class:"form-control text" %}
                </div>
              </div>
            </div>
            {% endif %} {% if request.sorta_logged_in? == false or
            request.current_signup.has_mobile? == false %}
            <div class="form-group">
              <div class="float-label">
                <label for="signup_email">{{ t_forms_email }}</label>
                {% email_field "email", class:"form-control text" %}
              </div>
            </div>

            {% if page.signup.is_phone? or site.ask_for_mobiles? %}
            <div class="form-row">
              {% if page.signup.is_phone? %}
              <div class="form-group col-12 col-md">
                <div class="float-label">
                  <label for="signup_phone_number">{{ t_forms_phone }}</label>
                  {% phone_field "phone_number", class:"form-control text" %}
                </div>
              </div>
              {% endif %} {% if site.ask_for_mobiles? %}
              <div class="form-group col-12 col-md">
                <div class="float-label">
                  <label for="signup_mobile_number"
                    >{{ t_forms_mobile_phone }}</label
                  >
                  {% phone_field "mobile_number", class:"form-control text" %}
                </div>
              </div>
              {% endif %}
            </div>
            {% endif %} {% endif %} {% if page.signup.is_address? %} {% if
            request.sorta_logged_in? == false or
            request.current_signup.has_full_address? == false %} {% include
            "page_address_inputs" wide: true %} {% endif %} {% endif %} {% if
            page.signup.has_labeled_tags? %} {% include "labeled_tags" %} {%
            endif %} {% if page.signup.is_volunteers? and
            site.ask_for_volunteers? %} {% if request.sorta_logged_in? == false
            or request.current_signup.is_volunteer == false %}
            <div class="form-group custom-control custom-checkbox">
              {% check_box "is_volunteer", class:"custom-control-input" %}
              <label class="custom-control-label" for="signup_is_volunteer"
                >{{ t_forms_want_to_volunteer }}</label
              >
            </div>
            {% endif %} {% endif %}

            <div class="form-group custom-control custom-checkbox">
              {% check_box "activity_is_private", class:"custom-control-input"
              %}
              <label
                for="signup_activity_is_private"
                class="custom-control-label"
                >{{ t_forms_dont_publish_this }}</label
              >
            </div>

            {% if request.sorta_logged_in? == false or
            request.current_signup.has_mobile? == false %} {% unless
            page.show_consent_form? %}
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                {% check_box "email_opt_in", class:"custom-control-input" %}
                <label class="custom-control-label" for="signup_email_opt_in"
                  >{{ t_forms_send_email_updates }}</label
                >
              </div>
            </div>

            {% if site.ask_for_mobiles? %}
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                {% check_box "mobile_opt_in", class:"custom-control-input" %}
                <label class="custom-control-label" for="signup_mobile_opt_in"
                  >{{ t_forms_send_text_updates }}</label
                >
              </div>
            </div>
            {% endif %} {% endunless %} {% endif %} {% if
            page.show_consent_form? %} {% include "consent_form" %} {% endif %}
            {% if page.signup.is_all_info_collected? == false %} {% if
            request.sorta_logged_in? %} {% include "form_submit_tag", label:
            t_forms_update_info %} {% else %} {% include "form_submit_tag",
            label: t_forms_sign_up %} {% endif %} {% endif %} {% endform_for %}
            {% if page.text_keyword_instructions.size > 0 %}
            <div class="form-group py-2">
              {{ page.text_keyword_instructions }}
            </div>
            {% endif %}
          </div>
        </div>

        {% if page.show_social_slider? and page.public_activities_count > 0 %}
        <div class="card-social-slider">
          {% include "social_slider" %}
        </div>
        {% endif %}
      </div>

      {% if page.tags_count > 0 %} {% include "page_tags" with page %} {% endif
      %} {% if page.show_stream? %} {% include "page_stream" %} {% endif %}
    </div>
  </div>
</div>
